litellm
pydantic==2.7.0
click==8.1.7
fastapi
uvicorn
transformers
accelerate
python-dotenv
chromadb
llama_index==0.10.19
llama_index_core==0.10.19
numpy==1.24.3
soundfile
git+https://github.com/agiresearch/Cerebrum.git
prompt_toolkit
rich
watchdog>=2.1.9
redis>=4.5.1
sentence-transformers
nltk
scikit-learn
pulp
gdown
typing-extensions
qdrant-client
fastembed
