accelerate==0.28.0
aiohttp==3.9.4
aiosignal==1.3.1
annotated-types==0.6.0
anthropic==0.25.1
anyio==4.3.0
asposestorage==1.0.2
async-timeout==4.0.3
attrs==23.2.0
backports.tarfile==1.0.0
cachetools==5.3.3
certifi==2024.2.2
cfgv==3.4.0
charset-normalizer==3.3.2
dataclasses-json==0.6.4
distlib==0.3.8
distro==1.9.0
django-cache-utils==0.7.2
exceptiongroup==1.2.0
filelock==3.13.4
frozenlist==1.4.1
fsspec==2024.3.1
google-ai-generativelanguage==0.6.1
google-api-core==2.18.0
google-api-python-client==2.123.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-generativeai==0.5.0
googleapis-common-protos==1.63.0
googlemaps==4.10.0
greenlet==3.0.3
grpcio==1.62.1
grpcio-status==1.62.1
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.22.2
identify==2.5.35
idna==3.7
iniconfig==2.0.0
isodate==0.6.1
jaraco.context==5.3.0
Jinja2==3.1.3
jsonpatch==1.33
jsonpointer==2.4
langchain-community==0.0.32
langchain-core==0.1.42
langsmith==0.1.46
lxml==5.2.1
MarkupSafe==2.1.5
marshmallow==3.21.1
more-itertools==10.2.0
mpmath==1.3.0
multidict==6.0.5
mypy-extensions==1.0.0
networkx==3.3
nodeenv==1.8.0
numpy==1.26.4
openai==1.16.2
orjson==3.10.0
outcome==1.3.0.post0
packaging==23.2
pandas==2.2.1
platformdirs==4.2.0
pluggy==1.4.0
pre-commit==3.7.0
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.8
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycountry==23.12.11
pycryptodome==3.20.0
pydantic==2.6.4
pydantic_core==2.16.3
Pympler==1.0.1
pyparsing==3.1.2
PySocks==1.7.1
pytest==8.1.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
rsa==4.9
safetensors==0.4.2
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.29
streamers==1.3.3
streamlink==6.7.2
sympy==1.12
tenacity==8.2.3
tokenizers==0.15.2
tomli==2.0.1
torch==2.0.1
tqdm==4.66.2
transformers==4.38.1
trio==0.25.0
trio-websocket==0.11.1
typing-inspect==0.9.0
typing_extensions==4.11.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.1
virtualenv==20.25.1
websocket-client==1.7.0
wolframalpha==5.0.0
wsproto==1.2.0
xmltodict==0.13.0
yarl==1.9.4
