@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Headings */
  h1 {
    @apply !text-4xl !font-bold mb-4;
  }
  h2 {
    @apply !text-3xl !font-bold mb-3;
  }
  h3 {
    @apply !text-2xl !font-bold mb-2;
  }
  h4 {
    @apply !text-xl !font-bold mb-2;
  }

  /* Lists */
  ul, ol {
    @apply !mb-4 !pl-8;
  }
  ul {
    @apply !list-disc;
  }
  ol {
    @apply !list-decimal;
  }
  li {
    @apply !mb-1;
  }

   /* Strong tag */
   strong {
    @apply !font-bold;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(18,18,18);
}

/* body{--tw-bg-opacity:1;); */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.editor {
  border: 1px solid #737373; /* border-[1px] and border-neutral-500 */
  border-radius: 0.75rem; /* rounded-xl */
  background-color: inherit; /* bg-inherit */
  color: #e5e5e5; /* text-neutral-200 */
  min-height: 3rem; /* h-12 (assuming 1rem = 16px) */
  max-height: 7rem;
  overflow-y: auto;
  padding: 12px;
  outline: none;
  display: flex;
  max-width: 100%;
}

/* .editor[placeholder]:empty:before {
  content: attr(placeholder);
  color: #a3a3a3;
  cursor: text;
} */

.editor[contenteditable="true"]:empty:not(:focus):before {
  content: attr(data-placeholder);
  color: #a3a3a3;
  cursor: text;
}

.editor[contenteditable="true"]:focus {
  outline: none;
}

/* Handle the case when there's an empty <p> element */
.editor[contenteditable="true"] p:first-child:last-child:empty:not(:focus):before {
  content: attr(data-placeholder);
  color: #a3a3a3;
  cursor: text;
}

.paragraph {
  width: 100%;
  height: 100%;
}

.mentionNode {
  background-color: rgba(88, 101, 242, 0.3); /* Discord blue with opacity */
  color: #dee0fc; /* Light blue-ish color for text */
  border-radius: 16px;
  padding: 4px 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.1s ease, color 0.1s ease;
}

.mentionsContainer {
  background-color: #2f3136;
  border-radius: 16px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  max-height: 60vh;
  overflow-y: auto;
  width: 40vh;
  padding: 1rem;
}

.mentionsItem {
  padding: 8px 12px;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 12px;
}

.mentionsItem:hover {
  background-color: #393c43;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.text-foreground {
  /* font-size: 72px; */
  color: white;
}

.text-brand {
  /* font-size: 72px; */
  color: rgb(30, 145, 221);
}

.bg-muted {
  background-color: rgb(36,36,36);
}

.bg-getstarted {
  background-color: rgb(64, 150, 219);
}

.border-strong {
  border-color: rgb(54,54,54);
}

.border-stronger {
  border-color: rgb(69, 69, 69);
}

.border-strong:hover {
  border-color: rgb(69, 69, 69);
}

.from-border {
  border-color: rgb(46, 46, 46);
  border-width: 1px;
}

