# Global Configuration for AIOS

# API Keys Configuration
api_keys:
  openai: "sk-1234"    # OpenAI API key
  gemini: ""    # Google Gemini API key
  groq: ""      # Groq API key
  anthropic: "" # Anthropic API key
  huggingface:
    auth_token: ""  # HuggingFace auth token
    home: ""        # Optional: HuggingFace models path

# LLM Configuration
llms:
  models:

    # OpenAI Models
    # - name: "gpt-4o-mini"
    #   backend: "openai"
    #   temperature: 1.0


    # Google Models
    # - name: "gemini-1.5-flash"
    #   backend: "google"
    #   temperature: 1.0


    # Anthropic Models
    # - name: "claude-3-opus"
    #   backend: "anthropic"
    #   temperature: 1.0

    # Ollama Models
    - name: "qwen2.5:7b"
      backend: "ollama"
      hostname: "http://localhost:11434" # Make sure to run ollama server

    # HuggingFace Models
    # - name: "meta-llama/Llama-3.1-8B-Instruct"
    #   backend: "huggingface"
    #   max_gpu_memory: {0: "48GB"}  # GPU memory allocation
    #   eval_device: "cuda:0"  # Device for model evaluation
    
    # vLLM Models
    # To use vllm as backend, you need to install vllm and run the vllm server https://docs.vllm.ai/en/latest/serving/openai_compatible_server.html
    # An example command to run the vllm server is:
    # vllm serve meta-llama/Llama-3.2-3B-Instruct --port 8091

    # # SGLang Models
    # - name: "meta-llama/Llama-3.2-3B-Instruct"
    #   backend: "sglang"
    #   max_new_tokens: 1024
    #   temperature: 1.0
    #   hostname: "http://localhost:8091/v1" # Make sure to run the sglang server


  log_mode: "console"
  use_context_manager: false

memory:
  log_mode: "console"
  
storage:
  root_dir: "root"
  use_vector_db: true

scheduler:
  log_mode: "console"

agent_factory:
  log_mode: "console"
  max_workers: 64  
  
server:
  host: "localhost"
  port: 8000
