[Unit]
Description=OSWorld Server
StartLimitIntervalSec=60
StartLimitBurst=4
After=network.target auditd.service

[Service]
ExecStart=/usr/bin/python3 /home/user/main.py
User=user
WorkingDirectory=/home/user
Restart=on-failure
RestartSec=1
Environment="DISPLAY=:1"

[Install]
WantedBy=graphical.target
